@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Variables

$Darkcyan: hsl(185, 75%, 39%);
$VerydarkDesaturatedBlue: hsl(229, 23%, 23%);
$Darkgrayishblue: hsl(227, 10%, 46%);
$DarkGrey: hsl(0, 0%, 59%);

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: $Darkcyan;
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat,no-repeat;
    background-position: right 38vw bottom 38vh, left 38vw top 38vh
     ;
    font-family: 'Kumbh Sans', sans-serif; 
}

h1,h3,span{
font-size: 18px;
}
p{
    font-size: 14px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
    box-shadow: 0px 0px 20px $Darkcyan;
    margin: 20px;
    height: 55vh;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title{
            margin-top: 1rem;
            color: $VerydarkDesaturatedBlue;
        span{
            color: $DarkGrey;
            font-weight: 400;
        }
    }

    &-text{
        color: $DarkGrey;
        font-weight: 400;
        margin-top: 0;
    }


}

.card-body-img{
    border-radius: 50%;
    border-color: white;
    display: block;
    border: 4px solid white;
    margin-top: -54px;

}


.card-footer{
    border-top: 1px solid rgba($color: $Darkgrayishblue, $alpha: 0.2);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.card-footer-social>h3{
    margin-bottom: 5px;
    color: $VerydarkDesaturatedBlue;
}

.card-footer-social>p{
    color: $DarkGrey;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 10px;
    margin-top: 0;
}



